.idea/
.gradle/
target/
out/
build/

*.iml
*.iws
telegroo/src/test/resources/token.txt
telegroo/src/test/resources/test.properties
telegroo/src/main/groovy/tech/teslex/telegroo/Test.groovy
telegroo/src/main/groovy/tech/teslex/telegroo/NextTest.groovy
micronaut-example/src/main/resources/application-dev.yml